
.foot {
  font-size: 13px;
  border: 1px solid red;
  width: 100%;
  bottom: 0;
}


/* ==== Header ====== */

.nav {
  background-color: aquamarine;
}
.nav-logo {
  width: 100px;
}

.nav > h1 {
 color: #013E50;
 margin-top:25px;
 margin-left: 15px;
}

/* ===== Todos Table======*/
